/* Espaciado reducido entre párrafos de clase section-text */
.section-text {
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
}

/* Lista para enlaces y autores */
.section-list {
    list-style-type: disc;
    margin: 0 auto 2.5rem;
    color: #4b5563;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: clamp(1rem, 2.5dvw, 1.15rem);
    line-height: 1.75;
}

.section-list li {
    margin-bottom: 0.5rem;
}

.section-list li a,
.section-text a {
    font-family: inherit;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    transition: text-decoration 0.3s ease;
}

.section-list li a:hover,
.section-text a:hover,
.section-list li a:focus,
.section-text a:focus {
    text-decoration: underline;
    outline: none;
}

.section-list li a:active,
.section-text a:active {
    color: inherit;
    text-decoration: underline;
}

/* Botones info */
.info-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 auto 2.5rem;
}

.info-button {
    padding: 0.75rem 1.5rem;
    background-color: #0e7c86;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    width: fit-content;
}

.info-button:hover {
    background-color: #095f66;
}

.autores-list {
    list-style-type: disc;
    /* padding-left: 0.5rem; */
    /* max-width: 600px; */
    margin: 0.5rem auto 2.5rem;
    color: #4b5563;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: clamp(1rem, 2.5dvw, 1.15rem);
    line-height: 1.75;
}

.autores-list li {
    margin-bottom: 0.6rem;
}